// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-inner {

  ion-header {
    position: relative !important;
    background: linear-gradient(to bottom right, color($colors, primary), color($colors, secondary));

    .card {
      background: transparent;
      min-height:135px;
      border-radius : 0px;
      margin:0px;
      padding:10px;
      box-shadow: none;

      ion-item {
        background: transparent;
        img {
          width: 60px;
          height: 60px;
        }
      }

      ion-card-content {
        position: absolute;
        bottom: 5px;
        padding-bottom:0px;
        p {
          color: color($colors, light);
        }
      }

    }
  }

  ion-content {
    .scroll-content {
      margin-top: 0px;
      overflow-y: hidden;
    }

    ion-list {
      button {
        ion-icon {
          color: color($colors, primary);
          padding: 5px;
          margin-right:15px;
          font-size: 30px;
          vertical-align: sub;
        }
        img {
          color: color($colors, primary);
          padding: 5px;
          margin-right:15px;
          width:37px;
          vertical-align: middle;
        }
        color: color($colors, dark);
      }
    }
  }
}
